<div id="addExisting">
  <h3>Manually add external funds to track</h3>
  <mat-card>
    <mat-card-title>
      <h4>Add Existing Funds</h4>
    </mat-card-title>
    <mat-divider></mat-divider>
    <mat-card-content>
      <button mat-flat-button color="primary" style="margin:20px 20px 0px 0px">
        SIP
      </button>
      <button mat-flat-button color="primary">
        Lumpsum
      </button>
      <div class="margin-top-20"></div>
      <form>
        <mat-form-field>
          <input matInput type="text" name="username" placeholder="Enter fund name">
          <span class="material-icons" matPrefix>{{icon.search}} &nbsp;</span>
        </mat-form-field>
        <mat-form-field>
          <input matInput type="password" name="password" placeholder="Enter date first SIP">
          <span class="material-icons" matPrefix>{{icon.date}} &nbsp;</span>
        </mat-form-field>
        <mat-form-field>
          <input matInput type="text" name="username" placeholder="Enter SIP amount">
          <span class="material-icons" matPrefix>{{icon.amount}} &nbsp;</span>
        </mat-form-field>
        <mat-form-field>
          <input matInput type="password" name="password" placeholder="Enter SIP cycle date">
          <span class="material-icons" matPrefix>{{icon.time}} &nbsp;</span>
        </mat-form-field>
        <button class="login-mt-10" mat-flat-button color="primary">Add</button>
      </form>
    </mat-card-content>
  </mat-card>
  <br>
  <mat-card>
    <mat-card-title>
      <h4>Add Existing Funds</h4>
    </mat-card-title>
    <mat-divider></mat-divider>
    <mat-card-content>
      <button mat-flat-button color="primary" style="margin:20px 20px 0px 0px">
        SIP
      </button>
      <button mat-flat-button color="primary">
        Lumpsum
      </button>
      <div class="margin-top-20"></div>
      <form>
        <mat-form-field>
          <input matInput type="text" name="username" placeholder="Enter fund name">
          <span class="material-icons" matPrefix>{{icon.search}} &nbsp;</span>
        </mat-form-field>
        <mat-form-field>
          <input matInput type="password" name="password" placeholder="Enter Date of investment">
          <span class="material-icons" matPrefix>{{icon.date}} &nbsp;</span>
        </mat-form-field>
        <mat-form-field>
          <input matInput type="text" name="username" placeholder="Enter invested amount">
          <span class="material-icons" matPrefix>{{icon.amount}} &nbsp;</span>
        </mat-form-field>
        <button mat-flat-button color="primary">Add</button>
      </form>
    </mat-card-content>
  </mat-card>
</div>
