@import './variable.scss';
.center{
    text-align: center;
}

.margin-top-20{
    margin-top:20px;
}

.mat-chip.mat-standard-chip{
    background-color:$white;
    border:2px solid #F5F5F5;
}

.mat-chip.mat-standard-chip:hover{
    background-color:$primary-1;
}

.mat-chip{
    background-color:$white;
}

.mat-card-title{
    font-size: 16px;
    color:$primary-1;
}

.primary-heading{
    color: $primary-1;
    margin-bottom: 10px;
}

.mat-card-content{
    font-size: 16px;
}

.mat-flat-button .mat-primary{
    background-color: $primary-1;
}

.mat-form-field{
    font-size: 16px;
}

.mat-flat-button.mat-primary, .mat-raised-button.mat-primary, .mat-fab.mat-primary, .mat-mini-fab.mat-primary{
    background-color: $primary-1;
}