@import './../../../sass/variable.scss';

#swithces {
  .col-sm-3 {
    button {
      width: 100%;
      background-color: white;
      border: 2px solid $primary-1;
      color:black;    
    }

    button:visited {
        background-color: #25d5cd;
        color:white;
      }

  }
}
