<div id="switch" style="margin-top:30px">
  <form>
    <div class="col-sm-6 form-group">
      <label for="switchFrom">Transfer From:</label>
      <input type="text" class="form-control" id="switchFrom" placeholder="Search scheme you want to transfer from">
    </div>
    <div>
      <mat-card>
        <div class="row">
          <div class="col-sm-3">
            <label>Fund</label>
            <p>SBI Focused Equity Fund Growth-Regular</p>
          </div>
          <div class="col-sm-2">
            <label>Invested date</label>
            <p>2 JUL 17</p>
            <P>284 days</P>
          </div>
          <div class="col-sm-1">
            <label>Buying Now</label>
            <p>28.98</p>
          </div>
          <div class="col-sm-1">
            <label>Current Now</label>
            <p>28.98</p>
          </div>
          <div class="col-sm-2">5
            <label>Amount invested</label>
            <p>20,000.00</p>
            <p>10.00 Units</p>
          </div>
          <div class="col-sm-1">
            <label>Current Value</label>
            <p>25,245</p>
          </div>
          <div class="col-sm-2">
            <button mat-flat-button>Cancel</button>
          </div>
        </div>
      </mat-card>
    </div>
  </form>
  <br>
  <form>
    <div class="col-sm-6 form-group">
      <label for="switchFrom">Transfer To:</label>
      <input type="text" class="form-control" id="switchFrom" placeholder="Search scheme you want to transfer to">
    </div>
    <div>
      <mat-card>
        <div class="row">
          <div class="col-sm-3">
            <label>Fund</label>
            <p>SBI Focused Equity Fund Growth-Regular</p>
          </div>
          <div class="col-sm-2">
            <label>Schema category</label>
            <p>Equity | Large cap</p>
          </div>
          <div class="col-sm-2">
            <label>Current NAV</label>
            <p>28.98</p>
          </div>
          <div class="col-sm-1">
            <label>Current Now</label>
            <p>28.98</p>
          </div>
          <div class="col-sm-1">
            <label>5yr returns</label>
            <p>12.8%</p>
          </div>
          <div class="col-sm-3">
            <button mat-flat-button>Cancel</button>
          </div>
        </div>
      </mat-card>
    </div>
  </form>

  <br>

  <form class="form-inline">
    <div class="col-sm-3 pl-0">
      <div class="form-group">
        <label for="amount-switch">Enter start date</label>
        <input type="text" class="form-control" id="amount-switch">
      </div>
    </div>
    <div class="col-sm-3">
      <div class="form-group">
        <label for="unit-switch">Enter frequency type</label>
        <input type="text" class="form-control" id="unit-switch">
      </div>
    </div>
    <div class="col-sm-3">
      <div class="form-group">
        <label for="unit-switch">Number of Transfers</label>
        <input type="text" class="form-control" id="unit-switch">
      </div>
    </div>
    <div class="col-sm-3">
      <label for="folio-number" style="float:left">Enter folio number</label>
      <input type="text" class="form-control" id="folio-number">
    </div>
    <div class="col-sm-3 pl-0">
      <label for="folio-number" style="float:left">Enter installment amount</label>
      <input type="text" class="form-control" id="folio-number">
    </div>
    <div class="col-sm-6 mt-40">
      <div class="checkbox">
        <label class="left"><input type="checkbox">First order today</label>
      </div>
      <br>
      <p>If selected please ensure that start date is atleast 30 days away from today</p>
    </div>

  </form>

  <br>
  <div class="btn-center">
    <button mat-flat-button>Go Back</button> &nbsp;&nbsp;
    <button mat-flat-button>Confirm</button>
  </div>
</div>
