@import './../../../../sass/variable.scss';

#switch {
    .form-group{
        margin-bottom:0.5rem;
        padding-left:0px;
    }
    label{
      font-size: 14px;
      font-weight: bold;
  }
  .btn-center{
    text-align:center;margin-bottom: 40px;
  }
  .pl-0{
      padding-left: 0px;
  }
  .mt-40{
    margin-top:40px
  }
  .left{
    float:left
  }
}
