<div id="action">
  <div class="center">
    <h3 class="primary-heading">REGISTER STP</h3>
    <p>Register for systamtic Transfer plan</p>
  </div>
  <h4>Transfer investment from</h4>
  <mat-card>
    <mat-card-content class="redeem">
      <div class="row active-confirmation">
        <div class="col-sm-3">
          <p class="title">Fund</p>
          <p>SBI Focused Equity Fund</p>
        </div>
        <div class="col-sm-2">
          <p class="title">Investment date</p>
          <p>2 JUL 17</p>
          <span>284 days</span>
        </div>
        <div class="col-sm-1">
          <p class="title">Buying NAV</p>
          <p>28.98</p>
        </div>
        <div class="col-sm-1">
          <p class="title">Current NAV</p>
          <p>28.98</p>
        </div>
        <div class="col-sm-2">
          <p class="title">Amount Invested</p>
          <p>20,000,00</p>
          <span>10.00 units</span>
        </div>
        <div class="col-sm-1">
          <p class="title">Current Value</p>
          <p>25,245</p>
        </div>
        <div class="col-sm-2">
          <p class="title">Returns</p>
          <p>+000 <span class="percentage-bg-color">+00%</span></p>

        </div>
      </div>
    </mat-card-content>
  </mat-card>
  <br>
  <form>
    <div class="col-sm-6" style="padding-left:0px">
      <label for="switchFrom">Transfer To:</label>
      <input type="text" class="form-control" id="switchFrom" placeholder="Search scheme you want to transfer to">
    </div>
    <div style="margin-top:10px">
      <mat-card>
        <div class="row">
          <div class="col-sm-3">
            <label>Fund</label>
            <p>SBI Focused Equity Fund Growth-Regular</p>
          </div>
          <div class="col-sm-2">
            <label>Schema category</label>
            <p>Equity | Large cap</p>
          </div>
          <div class="col-sm-2">
            <label>Current NAV</label>
            <p>28.98</p>
          </div>
          <div class="col-sm-1">
            <label>Current Now</label>
            <p>28.98</p>
          </div>
          <div class="col-sm-1">
            <label>5yr returns</label>
            <p>12.8%</p>
          </div>
          <div class="col-sm-3">
            <button mat-flat-button>Cancel</button>
          </div>
        </div>
      </mat-card>
    </div>
  </form>

  <br>

  <form class="form-inline">
    <div class="col-sm-3 pl-0">
      <div class="form-group">
        <label for="amount-switch">Enter start date</label>
        <input type="text" class="form-control" id="amount-switch">
      </div>
    </div>
    <div class="col-sm-3">
      <div class="form-group">
        <label for="unit-switch">Enter frequency type</label>
        <input type="text" class="form-control" id="unit-switch">
      </div>
    </div>
    <div class="col-sm-3">
      <div class="form-group">
        <label for="unit-switch">Number of Transfers</label>
        <input type="text" class="form-control" id="unit-switch">
      </div>
    </div>
    <div class="col-sm-3">
      <label for="folio-number" style="float:left">Enter folio number</label>
      <input type="text" class="form-control" id="folio-number">
    </div>
    <div class="col-sm-3 pl-0">
      <label for="folio-number" style="float:left">Enter installment amount</label>
      <input type="text" class="form-control" id="folio-number">
    </div>
    <div class="col-sm-6 mt-40">
      <div class="checkbox">
        <label class="left"><input type="checkbox">First order today</label>
      </div>
      <br>
      <p>If selected please ensure that start date is atleast 30 days away from today</p>
    </div>

  </form>

  <br>
  <div class="center">
    <button mat-flat-button>Go Back</button> &nbsp;&nbsp;
    <button mat-flat-button>Confirm</button>
  </div>
</div>
