@import './../../sass/variable';

#navBar {
  .navbar-header {
    background-color: $white;
    color: $black;
    height: 50px;
  }

  a {
    color: $black;
    font-size: 14px;
  }

  .search-width {
    width: 50%;
    font-size: 14px;
  }

  button {
    margin-left: 10px;
  }
}

#secondary-navbar {
  .secondary-navbar {
    position: relative;
    text-align: center;
    color: $white;

    .centered {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);

      ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;

        li {
          float: left;

          a {
            display: block;
            color: $white;
            text-align: center;
            padding: 14px 16px;
            text-decoration: none;
          }

          a:hover:not(.active) {
            border-bottom: 1px solid #25d5cd;
          }
        }
      }
    }
  }
}


#login {
  .login-top {
    margin-top: 2em;
  }

  .sign-up {
    background-color: #fd8a10;
    color: $white;
  }

  .gmail-login {
    background-color: #d84b37;
  }

  .mat-card {
    box-shadow: 0 0 40px $boxshadow-color;
    background-color: $primary-1;
    color: white;
  }

  .logo-title {
    font-size: 20px;
    font-weight: 500;
    text-align: center;
    text-transform: uppercase;
    margin-top: 10px;
  }

  .login-form-container {
    display: flex;
    flex-direction: column;
  }

  .login-form-container>* {
    width: 100%;
  }

  .mat-form-field-flex {
    align-items: flex-end;
  }

  .login-mt-10 {
    margin-top: 10px;
  }

  .term-condition {
    text-align: center;
    @extend .login-mt-10;
  }

  .text-underline {
    text-decoration: underline;
  }
}
