<div id="navBar">
  <mat-toolbar class="navbar-header" color="primary">
    <div class="container">
      <img src="./../../assets/img/Finbrij_Logo2-1.png" />
      <button mat-button routerLink="/all">Explore funds</button>
      <button mat-button routerLink="/addGoal">Add goals</button>      
      <div *ngIf="!showNavBar" style="display:inline-block;float:right">
        <button class="sign-in" mat-flat-button routerLink="/login" color="primary">Sign-in</button>
        <button class="sign-in" mat-flat-button routerLink="/signup" color="primary">Register</button>
      </div>
    </div>
  </mat-toolbar>
</div>


<div id="add-goals" class="container margin-top-20">
  <h2 class="addGoal">Add Goals</h2>
  <div class="row">
    <div class="col-sm-4">
      <mat-card routerLink='/addGoal/retirementPlan'>
        <img src="../../assets/img/Group 45.png" />
      </mat-card>
    </div>
    <div class="col-sm-4">
      <mat-card>
        <img src="../../assets/img/Group 46.png" />
      </mat-card>
    </div>
    <div class="col-sm-4">
      <mat-card>
        <img src="../../assets/img/Group 47.png" />
      </mat-card>
    </div>
  </div>
  <br>
  <div class="row">
      <div class="col-sm-4">
        <mat-card class="img-center">
          <img src="../../assets/img/Group 50.png" />
        </mat-card>
      </div>
      <div class="col-sm-4">
        <mat-card>
          <img src="../../assets/img/Group 49.png" />
        </mat-card>
      </div>
      <div class="col-sm-4">
        <mat-card>
          <img src="../../assets/img/Group 48.png" />
        </mat-card>
      </div>
    </div>
</div>
