<div id="userDetails">
  <div class="row">
    <div class="col-sm-6 user-center">
      <div class="center">
        <h4 class="primary-heading">Upload signature image</h4>
        <p>
          You need to upload your signature for submitting account opening form
          with AMCs. It's a one time process
        </p>
      </div>
      <form style="margin-top:50px">
        <div class="row">
          <div class="col-sm-7">
            <p>1. Please sign on a while paper</p>
            <p>2. Photograph the paper with signature</p>
            <p>3. Upload the image</p>
          </div>
          <div class="col-sm-5">
            <div class="form-group">
              <label for="upload-img">Upload Image</label>
              <input type="file"  id="upload-img">
            </div>
          </div>
        </div>
        <div class="center">
          <button mat-flat-button routerLink="/dashboard/userInfo/riskProfiler" class="mat-flat-button mat-primary"
            color="primary">Update</button>
        </div>
      </form>
    </div>
  </div>
</div>
