<div id="panCardDetails">
  <div class="row">
    <div class="col-sm-5">
      <h3 class="primary-heading">PAN Details</h3>
      <p>As per SEBI guidelines we need to verify your KYC status for</p>
      <p>investing in mutual funds. It's one time process. Your</p>
      <p>personal information is completely secure.</p>
    </div>
    <div class="col-sm-1"></div>
    <div class="col-sm-5">
      <form>
        <div class="form-group">
          <label for="pan">Enter your PAN:</label>
          <input type="text" class="form-control" id="pan">
        </div>
        <div class="form-group">
          <label for="birth-date">Enter your date of birth:</label>
          <input type="text" class="form-control" id="birth-date">
        </div>
        <div class="form-group">
          <label for="mobile-number">Enter your mobile number:</label>
          <input type="text" class="form-control" id="mobile-number">
        </div>
        <div class="center">
          <button mat-flat-button routerLink="/dashboard/userInfo/userDetails" class="mat-flat-button mat-primary" color="primary">Verify</button>
        </div>
      </form>
    </div>
    <!-- <div class="col-sm-2"></div> -->
  </div>
</div>
