<div id="login" class="container">
  <div class="row justify-content-md-center">
    <div class="col-sm-5 login-top">
      <h4 class="text-center">Get started by creating a free account </h4>
      <p class="text-center">Already registered? <a href="" routerLink="/login" class="sign-up-now">Sign-up</a> now</p>
      <mat-card>
        <p class="text-center">Sign in security with Gmail</p>
        <button class="login-mt-10 gmail-login"  style="width:100%" mat-flat-button>Sign in with Google</button>
        <hr>  
        <form>
            <div class="form-group">
              <label for="email">Email:</label>
              <input type="email" class="form-control" id="email">
            </div>
            <div class="form-group">
              <label for="phoneNumber">Phone:</label>
              <input type="phoneNumber" class="form-control" id="phoneNumber">
            </div>
            <div class="form-group">
              <label for="pwd">Password:</label>
              <input type="password" class="form-control" id="pwd">
            </div>
            <button class="login-mt-10 sign-up-btn"  style="width:100%" mat-flat-button color="primary" routerLink='/login'>{{MESSAGE.OCR_SIGN_UP_BUTTON}}</button>
          </form>
      </mat-card>
    </div>
  </div>
</div>
