<div id="navBar">
  <mat-toolbar class="navbar-header" color="primary">
    <div class="container">
      <img src="./../../assets/img/Finbrij_Logo2-1.png" />
      <button mat-button routerLink="/all">Explore funds</button>
      <button mat-button routerLink="/addGoal">Add goals</button>
      <div *ngIf="!showNavBar" style="display:inline-block;float:right">
        <button class="sign-in" mat-flat-button routerLink="/login" color="primary">Sign-in</button>
        <button class="sign-in" mat-flat-button routerLink="/signup" color="primary">Register</button>
      </div>
    </div>
  </mat-toolbar>
</div>

<div id="login" class="container">
  <div class="row justify-content-md-center">
    <div class="col-sm-5 login-top">
      <h2 style="font-weight:100" class="text-center">Get started by creating a free account </h2>
      <p class="text-center">Already registered? <a href="" routerLink="/login" class="sign-up-now">Sign-up</a> now</p>
      <mat-card>
        <p class="text-center">Sign in security with Gmail</p>
        <button class="login-mt-10 gmail-login" style="width:100%" mat-flat-button>Sign in with Google</button>
        <hr>
        <form>
          <div class="form-group">
            <label for="email">Email</label>
            <input type="email" class="form-control" id="email">
          </div>
          <div class="form-group">
            <label for="phoneNumber">Phone</label>
            <input type="phoneNumber" class="form-control" id="phoneNumber">
          </div>
          <div class="form-group">
            <label for="pwd">Password</label>
            <label style="float:right">Forgot password?</label>
            <input type="password" class="form-control" id="pwd">
          </div>
          <button class="login-mt-10 sign-up-btn" style="width:100%" mat-flat-button color="primary" routerLink='/login'>{{MESSAGE.FINBRIDGE_SIGN_UP_BUTTON}}</button>
        </form>
        <p class="term-condition">
          By signing up. you agree to our
          <span class="text-underline">Terms & conditions</span> and
          <span class="text-underline">our Privacy policy</span>
        </p>
      </mat-card>
      <div class="center">
        <img style="margin-top: 15px;" src="./../../assets/img/Group.png" />
      </div>
    </div>
  </div>
</div>
