<div id="userDetails">
  <div class="row">
    <div class="col-sm-6 user-center">
      <div class="center">
        <h4 class="primary-heading">Sanath kumar Personal Details</h4>
        <p>Update your personal information security</p>
      </div>
      <form>
        <div class="row">
          <div class="col-sm-6">
            <div class="form-group">
              <label for="birth-date">Gender</label><br>
              <mat-button-toggle-group class="toggle-button">
                <mat-button-toggle>Male</mat-button-toggle>
                <mat-button-toggle>Female</mat-button-toggle>
              </mat-button-toggle-group>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="form-group">
              <label for="mobile-number">Occupation</label>
              <select class="form-control" id="occupation">
                <option></option>
              </select>
            </div>
          </div>
        </div>
        <div class="form-group">
          <label for="address">Address</label>
          <input type="text" class="form-control" id="address">
        </div>
        <div class="row">
          <div class="col-sm-6">
            <div class="form-group">
              <label for="birth-date">City:</label>
              <input type="text" class="form-control" id="birth-date">
            </div>
          </div>
          <div class="col-sm-6">
            <div class="form-group">
              <label for="state">State:</label>
              <select class="form-control" id="state">
                <option></option>
              </select>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6">
            <div class="form-group">
              <label for="birth-date">Pin code</label>
              <input type="text" class="form-control" id="birth-date">
            </div>
          </div>
          <div class="col-sm-6">
            <div class="form-group">
              <label for="country">Country</label>
              <select class="form-control" id="country">
                <option></option>
              </select>
            </div>
          </div>
        </div>
        <div class="center">
          <button mat-flat-button routerLink="/dashboard/userInfo/bankDetails" class="mat-flat-button mat-primary"
            color="primary">Continue</button>
        </div>
      </form>
    </div>
  </div>
</div>
