<div id="briefing">
  <h1 class="primary-heading">Hi User!</h1>
  <mat-card>
    <mat-card-content>
      <div class="row">
        <div class="col-sm-2 center">
          <img src="../../../assets/img/Path 9.png" />
        </div>
        <div class="col-sm-8">
          <h4>Complete your profile to start investing</h4>
          <span>To invest in mutual funds, you must provide your PAN, personal details and</span>
          <span>Bank details. It takes just 12 months. Your details are encrypted, stored</span>
          <span>securely and never shared with anyone.</span>
        </div>
        <div class="col-sm-2">
          <button mat-flat-button color="primary">
            Complete Now >
          </button>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
  <div class="margin-top-80"></div>
  <h4>You do not have any inverstment yet, Explore funds to invest or Add a goal</h4>
  <div class="margin-top-30"></div>
  <div class="row">
    <div class="col-sm-3">
      <mat-card class="current-asset-value">
        <mat-card-content>
          <p class="current-asset-text">Current asset value</p>
          <p class="current-asset-amount">Rs.0</p>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="col-sm-3">
      <mat-card class="total-investment">
        <mat-card-content>
          <p class="total-investment-text">Total Inverstment</p>
          <p class="toal-investement-amount">Rs.0</p>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="col-sm-3">
      <mat-card class="annual-return">
        <mat-card-content>
          <p class="annual-return-text">Annual Return(XIRR)</p>
          <p class="annual-return-amount">Rs.0</p>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="col-sm-3">
      <mat-card class="realized-goal">
        <mat-card-content>
          <p class="realized-goal-text">Realized gains</p>
          <p class="realized-goal-amount">Rs.0</p>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
