<section class="margin-top-20">
  <div class="container">
    <div id="equity" class="row">
      <div class="col">
        <div class="margin-filter">
          <form class="form-inline">
            <label for="sip">SIP starting from:</label>
            <mat-chip-list>
              <mat-chip>Up to ₹500</mat-chip>
              <mat-chip>Up to ₹1000</mat-chip>
              <mat-chip>Up to ₹2000</mat-chip>
              <mat-chip>Up to ₹3000</mat-chip>
              <mat-chip>Up to ₹5000</mat-chip>
            </mat-chip-list>
          </form>
        </div>

        <div class="margin-filter">
          <form class="form-inline">
            <label for="sip">Risk:</label>
            <mat-chip-list>
              <mat-chip>Up to ₹500</mat-chip>
              <mat-chip>Up to ₹1000</mat-chip>
              <mat-chip>Up to ₹2000</mat-chip>
              <mat-chip>Up to ₹3000</mat-chip>
              <mat-chip>Up to ₹5000</mat-chip>
            </mat-chip-list>
          </form>
        </div>
      </div>
      <div class="col">
        <div class="margin-filter">
          <form class="form-inline">
            <label for="sip">Sort by:</label>
            <mat-chip-list>
              <mat-chip>Return</mat-chip>
              <mat-chip>Popularity</mat-chip>
              <mat-chip>Rating</mat-chip>
            </mat-chip-list>
          </form>
        </div>

      </div>
    </div>
  </div>
</section>
