<div id="orderPlace">
  <div class="row">
    <div class="col-sm-8">
      <h3 class="primary-heading">CONFIRM ORDER</h3>
      <mat-card>
        <div class="row">
          <div class="col-sm-3">
            <span>Fund</span>
            <h4>SBI Focused Equity Fund dividend- Regular</h4>
          </div>
          <div class="col-sm-3">
            <span>Day of SIP</span>
            <h4>12th of every month</h4>
          </div>
          <div class="col-sm-3">
            <span>Amount</span>
            <h4>5,000</h4>
          </div>
          <div class="col-sm-3">
            <button mat-button style="margin-top:15px">
              <i style="color:#b10323" class="material-icons">
                delete_forever
              </i> Delete
            </button>
          </div>
        </div>
      </mat-card>
      <br>
      <mat-card>
            <div class="row">
              <div class="col-sm-3">
                <span>Fund</span>
                <h4>SBI Focused Equity Fund dividend- Regular</h4>
              </div>
              <div class="col-sm-3">
                <span>Day of SIP</span>
                <h4>12th of every month</h4>
              </div>
              <div class="col-sm-3">
                <span>Amount</span>
                <h4>5,000</h4>
              </div>
              <div class="col-sm-3">
                <button mat-button style="margin-top:15px">
                  <i style="color:#b10323" class="material-icons">
                    delete_forever
                  </i> Delete
                </button>
              </div>
            </div>
          </mat-card>
    </div>
    <div class="col-sm-4">
      <h3 class="primary-heading">ORDER SUMMARY</h3>
      <mat-card>
        <p>Total lumpsum Investment<span style="color:#08a9df;float: right">5,000</span></p>
        <p>Total SIP first installment<span style="color:#08a9df;float: right">5,000</span></p>
        <hr>
        <p>Order Total<span style="color:#08a9df;float: right">10,000</span></p>
        <div class="center">
          <button mat-button style="background-color: #08a9df;
        color: white;">
            <i class="material-icons">
              lock
            </i>
            Place Order
          </button>
        </div>
      </mat-card>
    </div>
  </div>

</div>
