<div id="navBar">
  <mat-toolbar class="navbar-header" color="primary">
    <div class="container">
      <img src="./../../../assets/img/Finbrij_Logo2-1.png" />
      <button mat-button routerLink="/all">Explore funds</button>
      <button mat-button routerLink="/addGoals">Add goals</button>
      <mat-form-field class="search-width">
        <input matInput>
      </mat-form-field>
    </div>
  </mat-toolbar>
</div>
<div id="secondary-navbar">
  <div class="secondary-navbar">
    <img class="img-bg" src="./../../../assets/img/Path 10.png"/>
    <div class="centered">
      <ul>
        <li><a routerLink="/dashboard/briefing">Briefing</a></li>
        <li><a routerLink="/dashboard/myPortfolio">My Portfolio</a></li>
        <li><a routerLink="/dashboard/switch">Switch|STP|SWP</a></li>
        <li><a routerLink="/dashboard/myWatchList">My Watchlist</a></li>
        <li><a routerLink="/dashboard/statements">Statements</a></li>
        <li><a routerLink="/dashboard/addExisting">Add Existing</a></li>
      </ul>
    </div>
  </div>
</div>
