<div id="navBar">
  <mat-toolbar class="navbar-header" color="primary">
    <div class="container">
      <div class="row">
        <div class="col-sm-10">
          <img src="./../../../assets/img/Finbrij_Logo2-1.png" />
          <button mat-button routerLink="/all">Explore funds</button>
          <button mat-button routerLink="/addGoal">Add goals</button>
        </div>
        <div class="col-sm-2 dashboard-icon">
          <a><i class="material-icons">search</i></a>
          <a routerLink="orderPlace"><i class="material-icons">delete_outline</i></a>
          <a>Dashboard</a>
          <img src="./../../../assets/img/avtar.png" />
        </div>
      </div>
    </div>
  </mat-toolbar>
</div>
<div id="secondary-navbar">
  <div class="secondary-navbar">
    <img class="img-bg" src="./../../../assets/img/Path 10.png" />
    <div class="centered">
      <ul>
        <li><a routerLink="/dashboard/briefing">Briefing</a></li>
        <li><a routerLink="/dashboard/myPortfolio">My Portfolio</a></li>
        <li><a routerLink="/dashboard/switches/switch">Switch|STP|SWP</a></li>
        <li><a routerLink="/dashboard/myWatchList">My Watchlist</a></li>
        <li><a routerLink="/dashboard/statements">Statements</a></li>
        <li><a routerLink="/dashboard/addExisting">Add Existing</a></li>
      </ul>
    </div>
  </div>
</div>
