<div id="action">
  <div class="center">
    <h3 class="primary-heading">SIP CANCELLATION</h3>
    <p>Do you really want to cancel this SIP? Your account will not be auto debited, if you cancel the SIP</p>
  </div>
  <mat-card>
    <mat-card-content>
      <div class="row active-confirmation">
        <div class="col-sm-3">
          <p class="title">Fund</p>
          <p>SBI Focused Equity Fund</p>
        </div>
        <div class="col-sm-2">
          <p class="title">Plan</p>
          <p>SBI</p>
        </div>
        <div class="col-sm-2">
          <p class="title">Amount/month</p>
          <p>5000</p>
        </div>
        <div class="col-sm-3">
          <p class="title">Days of SIP</p>
          <p>12th of every month</p>
        </div>
        <div class="col-sm-2">
          <p class="title">Status</p>
          <p>Active</p>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
  <br><br>
  <div class="center">
    <button mat-flat-button>Go Back</button> &nbsp;&nbsp;
    <button mat-flat-button>Confirm</button>
  </div>
</div>
