<div id="secondary-navbar">
  <div class="secondary-navbar">
    <img class="img-bg" src="./../../../assets/img/Path 10.png" />
    <div class="centered">
      <ul>
        <li><a routerLink="/dashboard/briefing">Briefing</a></li>
        <li><a routerLink="/dashboard/myPortfolio">My Portfolio</a></li>
        <li><a routerLink="/dashboard/switches/switch">Switch|STP|SWP</a></li>
        <li><a routerLink="/dashboard/myWatchList">My Watchlist</a></li>
        <li><a routerLink="/dashboard/statements">Statements</a></li>
        <li><a routerLink="/dashboard/addExisting">Add Existing</a></li>
      </ul>
    </div>
  </div>
</div>
