<div id="userDetails">
  <div class="row">
    <div class="col-sm-7 user-center">
      <div class="center">
        <h4 class="primary-heading">Risk Profiler</h4>
      </div>
      <p>
        In order to recommend investment options that match your investment return
        expectations and the level of risk you are willing to take we need to understand
        your risk profile. The following questionnarie will help us in understanding the same.
      </p>
      <div style="margin-top:30px"></div>
      <p>
        1.Investment risk: Investment risk can be defined as the probability or likehold of actual returns to vary
        relative to the expected return on any particular investment. Risk is an important component in assessment
        of the prospects of an investment and advice.
      </p>
      <div style="margin-top:30px"></div>
      <p>
        2. Not everybody has same outlook/attitude towards risk. However, the higher the returns expectations, the
        more risk you should be willing to take.
      </p>
      <form style="margin-top:50px">
        <div class="center">
          <button mat-flat-button routerLink="/dashboard/userInfo/riskProfiler" class="mat-flat-button mat-primary"
            color="primary">Continue</button> &nbsp;
          <a href="" routerLink="/dashboard/briefing">DO IT LATER</a>
        </div>
      </form>
    </div>
  </div>
</div>
